<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mb-5">CONTENIDO</h1>
        <!--Crear una fila con 4 columnas-->
        <div class="row px-5">
          <!--Columna 1-->
          <div class="col-12 col md-6 col-lg-3 text-center">
            <img
              src="assets/img/student.jpg"
              class="card-img-top mb-3"
              alt="..."
            />
            <a class="title">Proyectos</a>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
